@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sejam Bem Vindos!</h1>
    <p>para fazer qualquer busca acesse o<a href="https://www.google.com/"> GOOGLE</a>.</p>
</div>
